*.geojson text eol=lf
meta/wof-concordances-latest.csv filter=lfs diff=lfs merge=lfs -text
meta/wof-venue-us-mn-concordances-latest.csv filter=lfs diff=lfs merge=lfs -text
meta/wof-venue-us-mn-latest.csv filter=lfs diff=lfs merge=lfs -text
